This notebook has a first, simple model

I'm going to use Linear Regression on two exploratory variables to predict sales price

In [9]:
# imports!

import pandas as pd

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

lr = LinearRegression()

In [10]:
df = pd.read_csv('../datasets/train.csv', keep_default_na = False, na_values = [''])

In [11]:
df.shape

(2051, 81)

In [12]:
df['Pool QC'].value_counts()

NA    2042
Gd       4
Fa       2
TA       2
Ex       1
Name: Pool QC, dtype: int64

In [13]:
df.isnull().sum().sort_values(ascending = False)

Lot Frontage     330
Garage Yr Blt    114
Mas Vnr Type      22
Mas Vnr Area      22
Bsmt Exposure      4
                ...
2nd Flr SF         0
1st Flr SF         0
Electrical         0
Central Air        0
Id                 0
Length: 81, dtype: int64

### Pick some Features, fit a model

In [14]:
df.corr()[['SalePrice']].sort_values(by = 'SalePrice', ascending = False).head()

              SalePrice
SalePrice      1.000000
Overall Qual   0.800207
Gr Liv Area    0.697038
Garage Area    0.650270
Garage Cars    0.648220

In [15]:
features = ['Overall Qual', 'Gr Liv Area']
X = df[features]
y = df['SalePrice']

In [16]:
lr.intercept_, lr.coef_

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [17]:
test_residuals = y_test - lr.predict(X_test)
test_preds = lr.predict(X_test)

NameError: name 'y_test' is not defined

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(y_test, test_preds)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [19]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [20]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.7194163570829553, 0.7530182162122661)

Model fits... alright...Likely underfit and sufferring high error due to bias

#### Generating prediction for Kaggle

**Kaggle test info has NO SALE PRICE!**

In [21]:
kaggle_test = pd.read_csv('../datasets/test.csv', keep_default_na = False, na_values = [''])

In [22]:
kaggle_test.shape

(878, 80)

In [23]:
kaggle_test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NA,NA,NA,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NA,IR1,Lvl,...,0,0,0,NA,NA,NA,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NA,IR1,Lvl,...,0,0,0,NA,NA,NA,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NA,Reg,Lvl,...,0,0,0,NA,NA,NA,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NA,IR1,Lvl,...,0,185,0,NA,NA,NA,0,7,2009,WD

In [24]:
kaggle_test[features].head(3)

   Overall Qual  Gr Liv Area
0             6         1928
1             5         1967
2             7         1496

In [25]:
kaggle_test_subset =kaggle_test[features]
kaggle_test_subset.head()

   Overall Qual  Gr Liv Area
0             6         1928
1             5         1967
2             7         1496
3             5          968
4             6         1394

In [26]:
kaggle_test_subset.shape

(878, 2)

In [27]:
kaggle_preds = lr.predict(kaggle_test_subset)

In [28]:
#Make a new dataframe

In [29]:
preds_dict ={
    'Id' : kaggle_test['Id'],
    'SalePrice' : kaggle_preds
}

In [30]:
preds_df = pd.DataFrame(preds_dict)

In [31]:
preds_df.to_csv('predictions_no_index.csv', index= False)

Add preds to a new column

In [32]:
kaggle_test['SalePrice'] = kaggle_preds

In [33]:
preds_df = kaggle_test[['Id', 'SalePrice']]

In [ ]:
preds_df.to_csv('more_predictions.csv', index=False)